body{
    background-color:#121211;
    
}
.copy{
    padding-left: 100px;
    padding-right: 100px;

}

#navi{
    position: fixed;
    top: 0;
    width: 85%;
    height: 50px;
    padding: 5px;
    background-color: #121211;
    display: flex;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.cur{
    width: 90px;
    
}
.cu{
    width: 50px;
}
.start{
    display: flex;
    
}

.ff{
    gap: 24px;
}

.butt{
    gap: 5px;
    
}
.but{
    border-radius: 100px;
    font-size: 14px;
    padding: 6px;
    border: 0.01px solid whitesmoke;
    box-shadow: none;          
    outline: none;
}
.first{
    background-color: #121211;
    color: whitesmoke;
}
.write{
    color: whitesmoke;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
}
.down{
    padding: 16px;
    border-radius: 100px;
    padding: 10px 30px;
    font-size: 17px
}
.ss{
    width: 100%;
    border-radius: 15px;
}
.trust{
    color: whitesmoke;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.ver{
    display: flex;
    color: whitesmoke;
    gap: 17px;
    align-items: center;

    
}
.logo-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 18px;
  padding: 0px;
}

.logo {
  background: #151515;
  color: #dcdcdc;
  padding: 30px 10px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #222;
  font-size: 20px;
  font-weight: 600;
}
.split-container {
    display: flex;
    align-items: center;
    height: 100vh; 
    width: 100%;
    background-color: #1e1e1d;
    border-radius: 5px;
    
}

.left-panel {
    flex: 1; 
    padding: 20px;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
}
.right-panel {
    flex: 2; 
    width: 100%;
    border-radius: 5px;
    height: 690px;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 10px;
}
.gg{
    color: rgb(162, 162, 162);
}
.hh{
    color: rgb(239, 67, 19);
    font-size: 20px;
}
.text{
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    text-align: center;
}
.grid{
    display: grid;
    border: 2px solid red;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (2, 1fr);
    gap: 20px;
    padding: 40px 80px;
}
.upper{
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}
.firstt{
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}
.third{
    color: rgb(239, 67, 19);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.second {
  display: flex;
  gap: 13px;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.update-card {
  background: #1e1e1d;
  color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  flex: 1
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.version {
  border: 1px solid #333;
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 12px;
}

.date {
  font-size: 14px;
}

.update-card h3 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
}
.here{
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.us{
    background-color: whitesmoke;
    color: black;
    padding: 13px 22px;
    font-size: 16px;
    border-radius:50px;
    border: 0.01px solid whitesmoke;
}
.go{
    display: flex;
    flex-direction: row;
    background-color:#1c1c1c ;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    gap: 190px;
    padding: 90px;
}
.left{
    padding: 0px;

}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* background-color: rgb(114, 74, 22); */
} 
.post {
  background: #232222;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
  width: 64%;
  font-family: 'Inter', sans-serif;
}
.kk{
    color: rgb(239, 67, 19);
}
.hhh{
    font-size: 70px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pew{
    background-color: whitesmoke;
    color: black;
    padding: 13px 22px;
    font-size: 16px;
    border-radius:50px;
    border: 0.01px solid whitesmoke;
    text-align: center;
}
body {
  background: #0b0b0b;
  color: white;
  font-family: 'Inter', sans-serif;
}

.footer {
  padding: 60px 100px;
  background: #111;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.col h4 {
  color: #9ca3af;
  font-size: 14px;
  margin-bottom: 10px;
}

.col a {
  color: #e5e5e5;
  text-decoration: none;
  font-size: 15px;
}

.col a:hover {
  color: white;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9ca3af;
}

.controls {
  display: flex;
  gap: 10px;
}

.controls button,
.controls select {
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
}


.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 12px;
}

.card {
  background: #121212;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p {
  line-height: 1.6;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 8px;
  object-fit: cover;
}

.profile h4 {
  margin: 0;
}

.profile span {
  color: #aaa;
  font-size: 14px;
}
.three-tier{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.tier{
  background: #121212;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tier p {
  line-height: 1.6;
}
.klll{
  width: 390px;
  height: 400px;
  border-radius: 4px;
}

